body {
    background-color: rgb(68, 0, 0);
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Cairo', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}
.pick {
    text-align: center;
}
.item {
    background-color:rgb(255, 255, 255);
    margin: 0 0 1em 0;
    padding: 0.5em;
    box-shadow: 0 0 5px rgb(110, 110, 110);

    font-size: 1.1em;
    border-radius: 3px;
}
p.film a:link {
    font-size: 1.2em;
    color: rgb(68, 0, 0);
    text-decoration: underline;
    font-weight: bold;
}
p.film a:hover {
    text-decoration: none;
}
h1 {
    margin: 0 0 -1em 0;
    padding: 0.5em;

    color:rgb(255, 255, 255);
    font-size: 2.5em;
}
table {
    width: 98%;
}
th {
    border-bottom: solid 2px #000;
    text-align: left;
    padding: 5px;
}
td {
    border-bottom: solid 1px rgb(255, 239, 204);
    padding: 5px;
}
tr.film:hover {
    background-color: rgb(255, 239, 204);
}
.copyright {
    text-align: center;
    margin-top: 2em;;
    display: block;
    font-size: 0.75em;
}
table a:link {
    color: #000;
}
table a:hover {
    text-decoration: none;
}